:root{
    --button-color: #347fc4;
    --text-color:#000;
    --box-color: #5d536b;
}

*{
    color: var(--text-color);
}

body{
    background-color: #272838;
}
.boxDiv {
    display: grid;
    grid-template:
        '... tlt ... trt ... buttons     '50px
        'tll box box box trr text '120px
        '... box box box ... text    '120px
        'bll box box box brr copy    '120px
        '... blb ... brb ... ...    '50px/
        120px 120px 120px 120px 120px auto;   
}

#topLeft {
    grid-area: tlt;
    margin: auto 0 10px 0;
}

#topRight {
    grid-area: trt;
    rotate: -180deg;
    margin: auto 0 10px 0;
}

#bottomRight {
    grid-area: brb;
    rotate: 180deg;
    margin: 13px 0 auto 0;

}

#bottomLeft {
    grid-area: blb;
    margin: 13px 0 auto 0;
}
#topLeft2{
    grid-area: tll;
    rotate: 90deg;
    margin:auto;
    translate: 50px;
}
#topRight2{
    grid-area: trr;
    rotate: 90deg;
    margin: auto;
    translate:-45px;
}
#bottomRight2{
    grid-area: brr;
    rotate: -90deg;
    margin: auto;
    translate: -45px;
}
#bottomLeft2{
    grid-area: bll;
    rotate: -90deg;
    margin:auto;
    translate: 50px;
}

#boxText {
    grid-area: text;
    background-color: var(--box-color);
    padding: 50px 30px ;
    width: 390px;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
}

#box {
    width: 360px;
    height: 360px;
    background-color:var(--box-color);
    border: 2px solid var(--button-color);
    grid-area: box;

}

#simple{
    border-radius: 8px  0 0 8px;
}

#simple:hover,#complex:hover{
    opacity: 0.8;
}

#complex{
    border-radius: 0 8px 8px 0;
}

#simple,#complex{
    padding: 10px 0 ;
    background-color:#9cb3c9;
    text-decoration: none ;
    width: 227px;
    height: min-content;
    text-align: center;
    margin:   auto 0 5px 0;
}
.buttons{
    grid-area: buttons;
    display: flex;
}

.active{
    background-color: var(--button-color) !important;
}


#copyButton{
    grid-area: copy;
    margin-top: 15px;
}
#copy{
    padding: 10px 82px;
    background-color: var(--button-color);
    border-radius: 10px;
    text-decoration: none;
}

#copy:hover,#mode:hover{
    opacity: 0.8;
}

#mode{
    grid-area: copy;
    margin-left: auto;
    margin-top: 5px;
    height: 1.1rem;
    width: max-content;
    padding: 10px 30px;
    background-color: var(--button-color);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  input[type=range]:hover {
    opacity: 1; 
  }
  
  input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
    width: 15px; 
    height: 15px; 
    background: var(--button-color); 
    cursor: move; 
    border-radius: 10px;
  }
